/Administrador.class
/Doctor.class
/Paciente.class
/Persona.class
/Plan_nutricional.class
/Secretaria.class
/Historia_clinica.class
/Cita.class
/PagoEfectivo.class
/PagoTarjeta.class
/PagoPaypal.class
/Receta.class
/PlanNutricional.class
/HistoriaClinica.class
/Medicamento.class
/AreaMedica.class
